html {
  background: #222;
  color: #ccc;
}

a[href] {
  color: #999;
}

a[href]:focus,
a[href]:hover {
  color: #bbb;
}

a[href]:active {
  color: #777;
}

pre code {
  background: #ccc;
  color: #222;
}

.button,
.button[href],
.lot\:pager > span > a {
  background: #666;
  color: #eee;
}

.button:focus,
.button:hover,
.button[href]:focus,
.button[href]:hover,
.lot\:pager > span > a:focus,
.lot\:pager > span > a:hover {
  background: #777;
  color: #eee;
}

.button:active,
.button[href]:active,
.lot\:pager > span > a:active {
  background: #555;
  color: #eee;
}

.input,
.select,
.textarea {
  background: #333;
  color: inherit;
}

.lot\:file li,
.lot\:page li {
  border-color: #222;
}

.lot\:file li.is\:file::before {
  border-color: #666;
}

.lot\:file li.is\:file::after {
  border-bottom-color: #666;
  border-left-color: #666;
}

.lot\:file li.is\:folder::before,
.lot\:file li.is\:folder::after {
  background: #666;
}

.lot\:menu,
.lot\:menu ul {
  background: #222;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.lot\:file .lot\:task,
.lot\:page .lot\:task,
.lot\:file .lot\:task > *,
.lot\:page .lot\:task > * {
  margin: 0;
}

.lot\:file .lot\:task > * .title span,
.lot\:page .lot\:task > * .title span {
  display: none;
}
